

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#header-list {
    display: flex;
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px 15px;
    align-items: center;
    margin: 9px;
}

.header-btns {
    width: auto;
    margin: 3px;
    padding: 0px 7px;
    font-size: 13px;
    letter-spacing: .3px;
    text-decoration: none;
}

a:visited {
    color: black;
}

.header-btns:hover, .header-btns:active{
    text-decoration: underline;
    opacity: .8;
}

.header-img {
    opacity: .65;
}

.header-img:hover {
    opacity: .85;
}

#signin-btn {
    color: white;
    font-weight: 700;
    background-color: #4385f7;
    margin-left: 10px;
    padding: 7px 10px;
    border-radius: 7%;

}

#logo {
    display: block;
    margin: 0 auto;
    height: 100px;
    /*scale: .7;*/
    scale: .88;
}

main {
    margin: 150px auto;
}

#searchbox {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 482px;
    margin: 20 auto;
    /*width: auto;*/
}

#searchbox:hover, #searchbox:active, #searchbox:focus {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.caixa {
    margin: auto;
    background-color: white;
    width: 427px;
    height: 34px;
    border: none;
}

#lupa {
    margin: auto 0;
    opacity: .3;
    padding-left: 10px;
    padding-top: 2px;
}

.buttons {
    text-align: center;
    margin: 7px 10px;
    background-color: #f2f2f2;
    padding: 9px 16px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
}

.buttons:hover {    
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.buttons:active {
    border: 1px solid #4d90fe;
}

#buttons-container {
    margin-bottom: 25px;
}

#portugues {
    color: #1a0dab;
    text-decoration: none;
}

#portugues:hover {
    text-decoration: underline;
}

p {
    font-size: small;
}